/*
    Name: Jairo Jurado
    WIA Project: Real Football Reports
*/

/********************* Defaults *********************/
header, footer {
    background-color: #0e4e72;
    height: 80px;
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'Asap', sans-serif;
    margin-left: 1%;
    color: rgba(57, 140, 209, 0.48);
    font-size: 18pt;
}

h3 {
    font-size: 13pt;
}

p {
    color: #817e7e;
}

#Canvas1 {
    margin: 1% 0 0 1%;
    float: left;
}

nav {
    float: right;
    width: 60%;
}

nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
}

nav ul {
    font-family: 'Galdeano', sans-serif;
    list-style-type: none;
    color: #f4f4f4;
}

nav ul li {
    float: left;
    margin: 2% 0 0 5%;
    font-size: 14pt;
}

footer {
    text-align: center;
    color: #f4f4f4;
    clear: both;
}

footer p {
    padding: 2% 0 0 0;
    font-size: 11pt;
    font-family: 'Crimson Text', serif;
    color: #f4f4f4;
}

/********************* World Cup Wins Section *********************/
#about-us {
    margin-top: 3%;
}

#about-us h2 {
    margin-left: 3%;
}

#about-us p {
    margin-left: 3%;
    line-height: 1.5em;
}

/********************* World Cup Wins & Rankings Section *********************/
#world-wins {
    text-align: center;
    margin: 1% 2%;
}

#world-wins h2 {
    float: left;
}

#world-wins p {
    clear: both;
    text-align: left;
    margin-left: 1%;
    line-height: 1.5em;
}

#world-buttons {
    width: 10%;
    margin-right: 5%;
}

#world-buttons ul {
    float:left;
    margin: 200% 50% 0 60%;
}

#world-buttons ul li {
    background-color: #fff;
    border: 1px rgba(209,148,221,1);
    color: #817e7e;
    padding: 1%;
    margin: 0 0 1% 3%;
    font-size: 11pt;
}

.world-teams {
    float: left;
    clear: left;
    width: 100%;
}

#Canvas2 {
    float: left;
    margin: 2% 0;
}

#Canvas3 {
    float: left;
    margin-left: 1%;
}

#comboChart1, #comboChart2 {
    overflow: hidden;
    text-align: center;
}

#toggle1930, #toggle1974 {
    float: left;
    clear: both;
    font-size: 12pt;
    font-family: 'Crimson Text', serif;
    background: none;
    border: none;
    width: 30%;
    text-align: left;
}

#toggle1930 img, #toggle1974 img {
    margin-top: 2%;
    margin-left: 2%;
}

hr {
    margin: 1% 0;
    clear: both;
}

/********************* Gallery Section *********************/

#gallery h2 {
   margin-left: 3%; 
}

#gallery img {
    margin: 1% 1%;
}

#pictures {
    margin-left: 2%;
}

#pictures a {
    text-decoration: none;
}



/********************* Video Section *********************/
#video h2 {
    margin-left: 3%;
}

#video p {
    margin-left: 3%;
    line-height: 1.5em;
}

video {
    margin-left: 3%;
}